/*
* @Author: shu
* @Date:   2017-06-16 15:10:58
* @Last Modified by:   shu
* @Last Modified time: 2017-06-23 15:09:52
*/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

body{
	margin: 0 auto;
	background-color: #edeff0;
	font: 14px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
}
#header{
	width: auto;
	height: 60px;
	background-color: #000;
}
#logo{
	padding:0 20px;
}
#logo a{
	display: block;
	width: 140px;
	height: 60px;
	background: url(../img/logo.png) center center no-repeat;
	
}
.logo,.nav_item{
 	float: left;
 	height: 60px;
 	width: auto;
}
.nav_item ul{
	list-style: none;
}
.nav_item ul li{
	
	float: left;
}
.nav_item a{
	display: block;
	color: #fff;
	width: auto;
	height: 60px;
	line-height: 60px;
	padding: 0 25px;
	font-size: 14px;
}
.nav_item a:hover{
	background-color: rgba(77, 85, 93, 0.4);
}
.program-nav{
	padding-right: 10px !important;
}
.program-nav .icn-new{
	position: relative;
	display: inline-block;
	top: -10px;
	width: 16px;
	height: 16px;
	background: url(../img/new.png) no-repeat;
}
.search-warp{
	float: right;
	position: relative;
	margin-right: 18px;
	height: 60px;
	min-width: 32px;
}
.search-warp .searchTab{
	z-index: 100;
	left: 0;
	top: 20px;

}
.pa{
	position: absolute;
}
.searchTab a{
	padding: 5px 8px;
	color: #93999f;
	background-color: #2b333b;
}
.search-area{
    position: relative;
    height: 38px;
    width: 210px;
    margin: 10px 0;
    padding-right: 30px;
    border: 1px solid #000;
    border-bottom-color: rgba(120,125,130,.8);
}
.search-area .search-input{
	padding: 5px 10px;
	width: 100%;
	height: 38px;
	line-height: 38px;
	font-size: 12px;
	float: left;
	border: 0;
	color: #fff;
	transition: background-color .3s;
    background-color: #000;
    box-sizing: border-box;
} 
.showhide-search{
	width: 30px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	position: absolute;
	display: inline-block;
	right: 0;
	top: 0;
}
.showhide-search i{
	width: 30px;
	height: 60px;
	color: #757a7e;
	font-size: 22px;
	line-height: 60px;
	
}
.showhide-search i:hover{
	color: #fff;
}
@font-face {
	  font-family: "iconfont";
      src: url('../font/iconfont.eot'); /* IE9*/
      src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
      url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
      font-family:"iconfont" !important;
      font-size:22px;
      font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
 }
 .login-area{
 	float: right;
 }
ol,ul{
	list-style: none;
}
.header-unlogin li{
	color: #71777d;
	height: 60px;
	line-height: 60px;
	float: left;
}
.js-signin-btn{
	display: block;
	width: 60px;
	font-size: 14px;
	text-align: center;
	color: #71777d;
	height: 60px;
	line-height: 60px;
	transition: background-color .2s;
}
.shop-cart-icon span{
	color: #71777d;
}
.shop-cart-icon {
	display: inline-block;
	width: 107px!important;
	padding: 0 18px;
	box-sizing: border-box;
}
.js-signin-btn:hover{
	background-color: rgba(77, 85, 93, 0.4);
	color: #fff;
}
.shop-cart-icon:hover span{
	color: #fff;
}
.shop-cart-icon:hover{
	background-color: rgba(77, 85, 93, 0.4);
}
#main .wrap{
	width: 100%;
	background-color: #fff;
}
.wrap .top{
	width: 1200px;
	margin: auto;
	padding-top: 12px;
	float: none;
	box-shadow: none;
}
ul,li{
	display: block;
	float: left;
}
.top .course-nav-row{
	padding: 16px 0px 5px;
	border-bottom: 1px solid #edf1f2;
}
.course-nav-row .hd{
	float: left;
	width: 52px;
	height: 20px;
	line-height: 30px;
	font-size: 14px;
	font-weight: 700;
	color: #07111b;
	text-align: right
}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1}
.course-nav-row .bd{
	margin-left: 64px;
}
.course-nav-item {
    display: inline-block;
    margin: 0 4px;
}
.course-nav-item.on  a{
	background: #2b333b;
	color: #fff;
	border-radius: 2px;
}
.course-nav-item a{
	display: block;
	line-height: 14px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 14px;
	color: #14191e;
}
.course-nav-item a:hover{
	color: red;
}
.container{
	width: 1200px;
	margin:0 auto;
}
#main {
    padding-top: 0;
}
.l{
	float: left;
}
.r{
	float: right;
}

.container .course-tool-bar{
	padding-top: 26px;
	padding-bottom: 16px;
	height: 14px!important;
	margin-top: -1px;
	padding-right: 15px;
	font-size: 12px;

}
.course-tool-bar .sort-item{
	margin: 0 12px;
	line-height: 14px;
	font-size: 14px;
	color: #787d82;
}
.course-tool-bar .tool-left a.active {
    color: #f01414;
}
.tool-pager{
	display: inline-block;
	line-height: 20px;
	margin: 0 8px;
	vertical-align: middle;
}
.pager-cur{
	font-weight: 400;
	color: red;
}
em{
	font-style: normal;
	font-weight: 400;
}
.course-tool-bar .pager-action.disabled{
	border-color: #c8cdd2;
	opacity: .6;
	cursor: default;
}
.course-tool-bar .pager-action{
	height: 18px;
	vertical-align: middle;
	margin-left: 5px;
	color: #d9dde1;
	font-size: 18px;
	text-align: center;
}
.course-tool-bar .pager-action:hover{
	color: #5e5e5e;
}
.course-list{
	padding: 10px 0 20px; 
}
.moco-course-list {
    font-family: "PingFang SC",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
    margin: 0 -20px 0 0;
}
.szcoursewrap{
	width: 224px;
	height: 475px;
	overflow: hidden;
	margin: 0 20px 20px 0;
}
.moco-course-wrap{
	border-radius: 4dpx;
	float: left;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
	background-color: #fff;
}
.szcourse-cart.active{
	z-index: 1;
}
.szcourse-cart{
	display: block;
	position: relative;
}
.szcourse-cart.active .szcourse-cart-A{
	height: 204px;
	opacity: 1;
	z-index: 2;
}
.szcourse-cart.active .szcourse-cart-B {
    height: 0;
    opacity: 0;
    z-index: 0;
}
.szcourse-cart .szcourse-cart-B{
	height: 91px;

	box-sizing: border-box;
	overflow: hidden;
	background: #fff;
	opacity: 1;
	z-index: 1;

	position: absolute;
	top: 0;
	width: 100%;
}
.szcourse-cart .szcourse-cart-A{
	height: 91px;
	overflow: hidden;
	opacity: 0;
	z-index: 0;
	transition: .4s all;
}
.szcourse-cart .szcourse-cart-b{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 15px 20px;
	z-index: 1;
	color: #fff;
}
.szcourse-cart .szcourse-cart-o{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .7);
	opacity: .9;
	z-index: 0;
}
.shizhanpic{
	background: url(../img/5909a1250001197e05400300-360-202.jpg) no-repeat;	
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}
.szcourse-cart .szcourse-p2{
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	line-height: 24px;
	margin: 16px 0 4px;
	height: 48px;
	overflow: hidden;
}
.szcourse-cart .szcourse-p3{
	font-size: 12px;
	color: rgba(255, 255, 255, .6);
	line-height: 24px;
	height: 48px;
	overflow: hidden;
}
.szcourse-cart .szcourse-bottom{
	position: absolute;
	bottom: 24px;
	left: 20px;
	right: 20px;
	height: 12px;
	margin-bottom: 2px;
}
.szcourse-cart .szcourse-bottom .l{
	font-size: 12px;
	font-weight: 200;
	color: #fff;
	line-height: 12px;
}
.szcourse-cart .szcourse-bottom .r{
	font-size: 12px;
	font-weight: 200;
	color: #fff;
	line-height: 12px;
}
.szcourse-cart .szcourse-cart-B>div{
	padding: 16px 0;
	margin: 0 20px;
	border-bottom: 1px solid #d9dde1;
}
.szcourse-cart .szcourse-name{
	font-size: 12px;
	line-height: 18px;
	color: #07111b;
	height: 36px;
	margin-bottom: 8px;
}
.szcourse-cart .szcourse-cart-B .szcourse-bottom{
	bottom: 16px;
	
}
.szcourse-cart .szcourse-cart-B .szcourse-bottom  .l{
	color:#93999f;
}
.szcourse-cart .szcourse-cart-B .szcourse-bottom  .r{
	color:#f01414;
}
.moco-course-list .index-card-container{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
}
.moco-course-list .course-card-container{
	width: 224px;
	height: 228px;
	background-color: #fff;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
}
.course-card-container .course-card{
	display: block;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	z-index: 1;
}
.course-card-top{
	height: 48px;
	padding: 0 20px;
}
.course-card .cart-color.red{
	background: linear-gradient(270deg,rgba(255,115,155,.7),#ff739b);
}
.course-card .cart-color.blue{
	background: linear-gradient(270deg,rgba(75,150,220,.7),blue);
}
.course-card .cart-color.green{
	background: linear-gradient(270deg,rgba(0,185,90,.7),green);
}
.course-card .cart-color.purple{
	background: linear-gradient(270deg,rgba(210,115,230,.7),purple);
}
.course-card .cart-color.orange{
	background: linear-gradient(270deg,rgba(255,150,0,.7),orange);
}
.course-card-top span{
	float: left;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	margin-right: 10px;
	line-height: 48px;
}
.course-card .course-card-content{
	height: 180px;
	background-color: #fff;
	padding: 16px 24px;
	box-sizing: border-box;
}
.course-card-content h3{
	font-size: 14px;
	color: #07111b;
	line-height: 48px;
	word-break: break-all;
	letter-spacing: -.1px;
}
.course-card-content span{
	font-size: 12px;
	color: #93999f;
	line-height: 24px;
	margin: 8px 0;
	height: 48px;
	word-break: normal;
}
.course-card-content .course-card-bottom{
	position: absolute;
	bottom: 24px;
	right: 24px;
	left: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	text-align: right;
}
.course-card-bottom .course-card-info{
	float: left;
	margin: 0;
	font-size: 12px;
	color: #93999f;
	line-height: 24px;
}
.course-card-bottom span{
	margin: 0 3px 0 4px;
    font-weight: 800;
}
.course-card-container .course-card-bk{
	position: absolute;
	width: 224px;
	height: 228px;
	z-index: 0;
	left: 0;
	top: 0;
	border-radius: 4px;
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
}
.page{
	margin: 25px 0 auto;
	text-align: center;
}
.page a{
	color: #4d555d;
	margin: 0 8px;
	padding: 0 4px;
	border-radius: 16px;
	min-width: 24px;
	line-height: 32px;
	display: inline-block;
	text-align: center;
}
.page a.active{
	background: #4d555d;
	color: #fff;
}
.page a.text-page-tag:hover{
	background: #f3f510;
	color: #fff;
}
#footer{
	background: #000;
	font-size: 12px;
	color: #787d82;
	padding: 27px 0;
	min-width: 620px;
}
#footer .wrap{
	width: auto;
	max-width: 1200px;
	margin: 0 auto;
}
.footer_intro{
	padding-left: 40px;
}
.footer_intro .footer_link{
	margin-bottom: 4px;
	line-height: 1.8;

}
.footer_link ul{
	overflow: hidden;
	margin-top: -1px;
}
.footer_link ul li{
	float: left;
	padding-right: 30px;
	text-align: center;
}
.footer_link li a{
	color: #c8cdd2;
}
.footer_intro p{
	line-height: 1.8;
}
.followus{
	margin-right: 34px;
	padding-left: 30px; 
}
.followus a{
	float: left;
	position: relative;
	width: 32px;
	height: 32px;
	margin: 3px 6px 0;
	opacity: .5;
	z-index: 1;
	background: url(../img/footer-sprite.png) no-repeat;
}
.followus .fllowus_weixin{
	background-position: 0 -279px;
}

.followus .fllowus_weibo{
	background-position: 0 -321px;
}
.followus .fllowus_qq{
	background-position: 0 -363px;
}
.flw-weixin-box{
	position: absolute;
	display: none;
	width: 170px;
	height: 220px;
	left: -69px;
	bottom: 35px;
	background: url(../img/footer-sprite.png) no-repeat;
}
.followus a:hover{
		opacity: 1;
}
.followus .fllowus_weixin:hover .flw-weixin-box{
	display: block;
}
